/* CSS Document */

.head-pro {
    padding: 6px 0px 0px;
    display: inline-block;
    width: 200px;
}

.all-pro-box div:nth-child(1) img {
    width: 50% !important;
    float: left;
    object-fit: cover;
    height: 205px;
    transition: all 0.5s ease 0s;
    cursor: pointer;
    border-radius: 4px;
}